<html>
<head>
    <title>{% block title %}PWS Todo example app{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>    {% block extra_head %}{% endblock %}
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="side_bar col">
                {% block side_bar %}
                {% if user.is_authenticated %}
                <p class="h6">Приветствую, <span class="text-secondary">{{ user.username }}</span>!</p>
                <div class="d-block">
                    <i class="fas fa-clipboard-list"></i>&nbsp;<a href="{% url 'tasks:index' %}">Категории задач и приоритеты исполнения</a>
                </div>
                <div class="d-block">
                    <i class="fas fa-clipboard-list"></i>&nbsp;<a href="{% url 'tasks:list' %}">Список задач</a>
                </div>
                <div class="d-block">
                    <i class="fas fa-clipboard-list"></i>&nbsp;<a href="{% url 'tasks:cached_time' %}">Кэширование времени на 5 минут</a>
                </div>
                {% endif %}
                    <i class="fas fa-cog"></i>&nbsp;<a href="{% url 'admin:index' %}">Админка</a>
                {% endblock %}
            </div>
            <div class="main_content col-8">
                {% block main_content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>